#Git ignore list for inleiding programmeren

#Ignores for filetypes
#ignore college files
*.pdf
*.ppt
*.odt
*.doc?
#ignore class files
*.class
#ignore containers
*.tar
*.tar.gz
#ignore executables
*.sh
#ignore backup files
*~
*.BAK

#Ignores for directories
#ignore inleveren
week?/inleveren
~
