#Git ignore list for inleiding programmeren

#Ignores for filetypes
#ignore college files
*.pdf
*.ppt?
*.ppt
*.odt
*.doc?
#ignore compiled files
*.class
*.py[cod]
#ignore containers
*.tar
*.tar.gz
#ignore executables
*.sh
*.exe
#ignore backup files
*~
*.BAK
#ignore extra LaTeX files
*.log
*.aux

#Ignores for directories
#ignore inleveren
week?/inleveren
~
